---
const { text, url, btnStyles } = Astro.props;
---

<!-- the main__btn is the container -->
<style>
  .button {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
      rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
      rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    color: black;
    border: 1px solid black;
    background-color: darkorange;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;
    text-align: center;
  }

  .button span {
    z-index: 300;
    position: relative;
  }

  .button::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #ebb524;
    transition: all 0.35s;
    border-radius: 4px;
  }

  .button:hover::after {
    width: 100%;
  }
</style>

<!-- <div class="button__container">
  <a href={url}>{text}</a>
</div> -->

<a class="button" style={btnStyles} id="button" href={url}
  ><span>{text}</span></a
>
