---
import Button from "./Button.astro";
import projectData from "../scripts/project_data.json";

const { cardStyles, cardTitle, cardPath, cardDescription } = Astro.props;

const buttonStyle = {
  display: "grid",
  "place-content": "center",
  padding: 0,
  width: "5rem",
  "margin-top": "1rem",
};
---

<style>
  .card {
    border: 2px solid black;
    background: hsl(187 70% 85%);
    max-width: 30rem;
    box-shadow: 0.65rem 0.6rem 0 hsl(187 60% 40%);
    border-radius: 0.8rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }

  .card__content {
    padding: min(2rem, 5vw) min(2rem, 5vw) min(2.5rem, 5vw);
  }

  .card__img {
    outline: 0.1rem solid;
    /* object-fit: cover; */
  }
</style>

{
  projectData.map((p) => {
    return (
      <article class="card">
        <img class="card__img" src={p.imgUrl} alt={p.imgAltText} />
        <div class="card__content">
          <h2>{p.title}</h2>
          <p>{p.description}</p>
          <Button text="Go" btnStyles={buttonStyle} url={p.projectUrl} />
        </div>
      </article>
    );
  })
}
