---
import Card from "../../components/Card.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import projectData from "../../scripts/project_data.json";
---

<style>
  .content__container {
    gap: 3rem;
  }
</style>

<BaseLayout pageTitle="Projects">
  <section class="articles content__container">
    <h1 class="project__title">Frontend Projects</h1>
    {
      projectData.map((p) => (
        <Card
          cardTitle={p.title}
          imgAltText={p.imgAltText}
          cardPath={p.imgUrl}
          cardDescription={p.description}
          projectUrl={p.projectUrl}
        />
      ))
    }
  </section>
</BaseLayout>
